In [127]:
import pandas as pd
import numpy as np
import datetime

In [128]:
api_df = pd.read_csv('C:/Users/jeffr/Documents/MTA Info/mta_311_12_26_14.csv',low_memory=False)

In [129]:
api_df.columns

Index(['agency', 'borough', 'latitude', 'longitude', 'open_data_channel_type',
       'late', 'created_date_day_of_week', 'Complaint Grouping',
       'Location_Type_Grouping'],
      dtype='object')

In [130]:
api_df.head()

,agency,borough,latitude,longitude,open_data_channel_type,late,created_date_day_of_week,Complaint Grouping,Location_Type_Grouping
0,EDC,MANHATTAN,40.734426,-73.987714,ONLINE,False,1,Noise,Public
1,NYPD,MANHATTAN,40.718309,-73.985476,ONLINE,False,1,Noise,Public
2,NYPD,MANHATTAN,40.861550,-73.926897,PHONE,False,1,Noise,Residential
3,NYPD,MANHATTAN,40.721488,-73.995115,ONLINE,False,1,Noise,Residential
4,NYPD,BROOKLYN,40.620056,-73.940781,PHONE,False,1,Traffic,Public

In [97]:
DUMP = ['bridge_highway_direction','bridge_highway_name',
       'bridge_highway_segment', 'landmark','road_ramp','address_type','agency_name','cross_street_1', 'cross_street_2',
          'facility_type','intersection_street_1', 'intersection_street_2', 
         'location', 'park_borough', 'park_facility_name', 'street_name','taxi_company_borough', 'taxi_pick_up_location', 'unique_key',
       'x_coordinate_state_plane', 'city','incident_address','descriptor', 'community_board','y_coordinate_state_plane','bbl','incident_zip','resolution_action_updated_date','resolution_description','vehicle_type','location_address','location_zip','location_city','location_state']

In [98]:
api_df.drop(DUMP, axis=1,inplace=True)

In [87]:
api_df.head()

,agency,borough,closed_date,complaint_type,created_date,due_date,latitude,location_type,longitude,open_data_channel_type,status
0,EDC,MANHATTAN,2019-01-08T14:50:50.000,Noise - Helicopter,2019-01-01T13:00:46.000,2019-01-11T13:00:46.000,40.734426,Above Address,-73.987714,ONLINE,Closed
1,DSNY,QUEENS,2019-01-03T00:00:00.000,Request Large Bulky Item Collection,2019-01-01T13:01:00.000,NaN,40.699292,Sidewalk,-73.755377,PHONE,Closed
2,HPD,MANHATTAN,2019-01-03T14:35:51.000,HEAT/HOT WATER,2019-01-01T13:01:00.000,NaN,40.821061,RESIDENTIAL BUILDING,-73.955249,ONLINE,Closed
3,NYPD,MANHATTAN,2019-01-01T16:42:26.000,Noise - Street/Sidewalk,2019-01-01T13:01:38.000,2019-01-01T21:01:38.000,40.718309,Street/Sidewalk,-73.985476,ONLINE,Closed
4,NYPD,MANHATTAN,2019-01-01T15:13:27.000,Noise - Residential,2019-01-01T13:01:41.000,2019-01-01T21:01:41.000,40.861550,Residential Building/House,-73.926897,PHONE,Closed

In [27]:
api_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
agency                    50000 non-null object
borough                   50000 non-null object
city                      48339 non-null object
closed_date               49247 non-null object
complaint_type            50000 non-null object
created_date              50000 non-null object
due_date                  19004 non-null object
latitude                  47093 non-null float64
location_type             39979 non-null object
longitude                 47093 non-null float64
open_data_channel_type    50000 non-null object
status                    50000 non-null object
dtypes: float64(2), object(10)
memory usage: 4.6+ MB

In [99]:
#some features have less objects than the rest. Let's drop the rows containing null values. 


api_df.dropna(subset=['closed_date'],inplace=True)
api_df.dropna(subset=['due_date'],inplace=True)
api_df.dropna(subset=['latitude'],inplace=True)
api_df.dropna(subset=['location_type'],inplace=True)

In [29]:
api_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16586 entries, 0 to 49998
Data columns (total 12 columns):
agency                    16586 non-null object
borough                   16586 non-null object
city                      16586 non-null object
closed_date               16586 non-null object
complaint_type            16586 non-null object
created_date              16586 non-null object
due_date                  16586 non-null object
latitude                  16586 non-null float64
location_type             16586 non-null object
longitude                 16586 non-null float64
open_data_channel_type    16586 non-null object
status                    16586 non-null object
dtypes: float64(2), object(10)
memory usage: 1.6+ MB

In [90]:
#check for any null values

api_df.isnull().values.any()

False

In [100]:
#create target variable: late

api_df['late']=api_df['closed_date']>api_df['due_date']
api_df['late'].describe()

count     16587
unique        2
top       False
freq      13873
Name: late, dtype: object

In [92]:
#Percentage of cases that are late

print("Late Percentage:", (16586-13872)/16586*100, "%")

Late Percentage: 16.363197877728204 %

In [101]:
# Convert to datetime

api_df['created_date']= pd.to_datetime(api_df['created_date'])

In [102]:
#isolate day of week from datetime

api_df['created_date_day_of_week'] = api_df['created_date'].dt.dayofweek

In [103]:
#drop created_date

api_df.drop('created_date',axis=1,inplace=True)

In [104]:
api_df.tail()

,agency,borough,closed_date,complaint_type,due_date,latitude,location_type,longitude,open_data_channel_type,status,late,created_date_day_of_week
49987,NYPD,QUEENS,2019-01-08T22:21:08.000,Derelict Vehicle,2019-01-08T23:15:33.000,40.679083,Street/Sidewalk,-73.733700,PHONE,Closed,False,1
49988,DOT,STATEN ISLAND,2019-01-15T08:14:17.000,Broken Parking Meter,2019-01-29T15:15:59.000,40.586279,Street,-74.088481,PHONE,Closed,False,1
49991,NYPD,BROOKLYN,2019-01-08T18:32:58.000,Illegal Parking,2019-01-08T23:16:04.000,40.590053,Street/Sidewalk,-73.961644,MOBILE,Closed,False,1
49992,DOT,MANHATTAN,2019-01-14T16:01:43.000,Sidewalk Condition,2019-02-07T15:16:12.000,40.768258,Sidewalk,-73.990588,ONLINE,Closed,False,1
49998,DOHMH,MANHATTAN,2019-01-11T16:16:30.000,Indoor Air Quality,2019-02-07T15:16:51.000,40.831240,Other (Explain Below),-73.946924,PHONE,Closed,False,1

In [105]:
api_df['complaint_type'].unique()

array(['Noise - Helicopter', 'Noise - Street/Sidewalk',
       'Noise - Residential', 'Blocked Driveway',
       'Homeless Person Assistance', 'Illegal Parking', 'Noise - Vehicle',
       'Derelict Vehicle', 'Graffiti', 'Sidewalk Condition',
       'Street Condition', 'Taxi Complaint', 'Bus Stop Shelter Complaint',
       'Damaged Tree', 'Street Sign - Dangling', 'Animal Abuse',
       'Street Sign - Missing', 'Noise - Commercial', 'Drug Activity',
       'Highway Condition', 'Vending', 'Traffic', 'Food Establishment',
       'Root/Sewer/Sidewalk Condition', 'Drinking Water',
       'Broken Parking Meter', 'Public Payphone Complaint',
       'Street Sign - Damaged', 'Bridge Condition', 'Homeless Encampment',
       'For Hire Vehicle Complaint', 'Beach/Pool/Sauna Complaint',
       'New Tree Request', 'Overgrown Tree/Branches', 'Curb Condition',
       'Noise - House of Worship', 'Non-Emergency Police Matter',
       'Noise - Park', 'Indoor Air Quality', 'Rodent',
       'Unsanitary Animal Pvt Property', 'Food Poisoning',
       'Unsanitary Pigeon Condition', 'DOF Property - Payment Issue',
       'Animal in a Park', 'Mold', 'Indoor Sewage', 'School Maintenance',
       'Dead/Dying Tree', 'Maintenance or Facility', 'DRIE',
       'Bike/Roller/Skate Chronic', 'Bus Stop Shelter Placement',
       'Illegal Tree Damage', 'Asbestos', 'Posting Advertisement',
       'DPR Internal', 'Illegal Fireworks', 'Drinking', 'Panhandling',
       'Urinating in Public', 'LinkNYC', 'Bike Rack Condition',
       'Violation of Park Rules', 'Public Toilet',
       'DOF Property - Reduction Issue', 'Lifeguard',
       'Senior Center Complaint'], dtype=object)

In [106]:
mapping= {'Noise - Helicopter': 'Noise', 'Noise - Street/Sidewalk': 'Noise', 'Noise - Residential': 'Noise', 'Blocked Driveway': 'Traffic', 'Illegal Parking': 'Traffic',
'Derelict Vehicle': 'Traffic', 'Graffiti': "Cleaning", 'Sidewalk Condition': "Maintenance",
       'Street Condition': "Maintenance", 'Damaged Tree': "Maintenance", 'Street Sign - Dangling': "Maintenance",
       'Animal Abuse': "Animal", 'Noise - Vehicle': "Noise", 'Street Sign - Missing': "Traffic",
       'Noise - Commercial': "Noise", 'Drug Activity': "Human Complaint", 'Vending': "Human Complaint", 'Traffic': "Traffic",
       'Food Establishment': "Human Complaint", 'Taxi Complaint': "Human Complaint",
       'Root/Sewer/Sidewalk Condition': "Maintenance", 'Drinking Water': "Water",
       'Broken Parking Meter': "Maintenance", 'Public Payphone Complaint': "Maintenance",
       'For Hire Vehicle Complaint': "Human Complaint", 'Street Sign - Damaged': "Maintenance",
       'New Tree Request': "Plants", 'Overgrown Tree/Branches': "Plants", 'Curb Condition': "Maintenance",
       'Noise - House of Worship': "Noise", 'Non-Emergency Police Matter': "Human Complaint",
       'Indoor Air Quality': "Maintenance", 'Rodent': "Noise", 'Unsanitary Animal Pvt Property': "Animal",
       'Food Poisoning': "Human Complaint", 'Unsanitary Pigeon Condition': "Animal", 'Noise - Park': "Noise",
       'DOF Property - Payment Issue': "Human Complaint", 'Animal in a Park': "Animal", 'Mold': "Maintenance",
       'Indoor Sewage': "Maintenance", 'School Maintenance': "Maintenance", 'Dead/Dying Tree': "Plants",
       'Beach/Pool/Sauna Complaint': "Water", 'DRIE': "Human Complaint", 'Maintenance or Facility': "Maintenance",
       'Bus Stop Shelter Placement': "Traffic", 'Illegal Tree Damage': "Plants",
       'Posting Advertisement': "Human Complaint", 'DPR Internal': "Human Complaint", 'Drinking': "Water",
       'Bus Stop Shelter Complaint': "Maintenance", 'LinkNYC': "Traffic", 'Bike Rack Condition': "Maintenance",
       'Violation of Park Rules': "Human Complaint", 'Public Toilet': "Maintenance",
       'DOF Property - Reduction Issue': "Human Complaint", 'Lifeguard': "Human Complaint"}

In [107]:
api_df['Complaint Grouping'] = api_df.complaint_type.map(mapping)

In [108]:
api_df.drop('complaint_type',axis=1, inplace=True)
api_df.drop('due_date',axis=1, inplace=True)

In [109]:
api_df['location_type'].unique()

array(['Above Address', 'Street/Sidewalk', 'Residential Building/House',
       'Other', 'Comercial', 'Sidewalk', 'Street', 'Bus Stop Shelter',
       'Store/Commercial', 'Club/Bar/Restaurant', 'Highway',
       'Restaurant/Bar/Deli/Bakery', '1-3 Family Mixed Use Building',
       'Hallway', 'Residential', 'Street and Sidewalk', 'Bridge',
       'Other (Explain Below)', 'Beach', 'House of Worship',
       'Park/Playground', 'Mixed Use', '3+ Family Apartment Building',
       '3+ Family Apt. Building', 'Commercial Building',
       '1-2 Family Dwelling', '3+ Family Mixed Use Building',
       'Construction Site', 'Public Garden',
       '1-2 Family Mixed Use Building', 'Vacant Lot', 'Catch Basin/Sewer',
       'Commercial', 'Property Address', 'Street/Curbside', 'School',
       'Park', 'Overpass', 'Spa Pool', "DRIE Tenant's Address",
       'Recreation Center', 'Pool', 'Curb', 'Bridge/Underpass',
       'Stairwell', 'Residential Building', 'Parking Lot', 'Subway',
       'School/Pre-School', 'Vacant Building', 'Parking Lot/Garage',
       'House and Store', 'Food Cart Vendor', 'Senior Center',
       'Cafeteria - College/University', 'Lobby', 'Common Area',
       'Apartment Building', 'Crosswalk', 'Lot', 'Steam Room',
       'Other (explain in Complaint Details)', 'Government Building',
       'Residence'], dtype=object)

In [110]:
mapping2= {'Above Address': "Public", 'Street/Sidewalk': "Public", 'Residential Building/House': "Residential",
       'Comercial': "Business", 'Sidewalk': "Public", 'Street': "Public", 'Club/Bar/Restaurant': "Business",
       'Restaurant/Bar/Deli/Bakery': "Business", '1-3 Family Mixed Use Building': "Residential",
       'Hallway': "Public", 'Residential': "Residential", 'Store/Commercial': "Business",
       'Street and Sidewalk': "Public", 'Other (Explain Below)': "Public", 'Highway': "Public",
       'House of Worship': "Business", 'Mixed Use': "Public", '3+ Family Apartment Building': "Residential",
       'Other': "Public", '3+ Family Apt. Building': "Residential", 'Commercial Building': "Business",
       '1-2 Family Dwelling': "Residential", '3+ Family Mixed Use Building': "Residential",
       'Public Garden': "Public", '1-2 Family Mixed Use Building': "Residential", 'Vacant Lot': "Public",
       'Catch Basin/Sewer': "Public", 'Park/Playground': "Public", 'Property Address': "Public",
       'Street/Curbside': "Public", 'School': "Public", 'Overpass': "Public", 'Spa Pool': "Public",
       "DRIE Tenant's Address": "Residential", 'Bus Stop Shelter': "Public", 'Recreation Center': "Public",
       'Pool': "Public", 'Curb': "Public", 'Stairwell': "Public", 'Residential Building': "Residential",
       'Construction Site': "Public", 'Parking Lot/Garage': "Public", 'Commercial': "Business",
       'House and Store': "Business", 'Park': "Public", 'Vacant Building': "Public", 'Senior Center': "Business",
       'Cafeteria - College/University': "Business", 'Lobby': "Business", 'Apartment Building': "Residential",
       'Steam Room': "Business", 'Common Area': "Public",
       'Other (explain in Complaint Details)': "Public", 'Crosswalk': "Public"}

In [111]:
api_df['Location_Type_Grouping'] = api_df.location_type.map(mapping2)

In [116]:
api_df.drop('status',axis=1, inplace=True)

In [122]:
api_df.drop('closed_date',axis=1, inplace=True)

In [117]:
api_df.head()

,agency,borough,closed_date,latitude,longitude,open_data_channel_type,late,created_date_day_of_week,Complaint Grouping,Location_Type_Grouping
0,EDC,MANHATTAN,2019-01-08T14:50:50.000,40.734426,-73.987714,ONLINE,False,1,Noise,Public
3,NYPD,MANHATTAN,2019-01-01T16:42:26.000,40.718309,-73.985476,ONLINE,False,1,Noise,Public
4,NYPD,MANHATTAN,2019-01-01T15:13:27.000,40.861550,-73.926897,PHONE,False,1,Noise,Residential
5,NYPD,MANHATTAN,2019-01-01T13:29:20.000,40.721488,-73.995115,ONLINE,False,1,Noise,Residential
6,NYPD,BROOKLYN,2019-01-01T15:05:18.000,40.620056,-73.940781,PHONE,False,1,Traffic,Public

In [132]:
api_df.to_csv('C:/Users/jeffr/Documents/MTA Info/mta_311_12_26_14_cleaned.csv',  index = False)